.goods {
  padding: 40px 0 100px;
}

.list {
  display: grid;
  flex-wrap: wrap;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));

  @media (min-width: 580px) {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 10px;
  }

  @media (min-width: 820px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
  }
}
