.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.photo {
  width: 100%;
  border-radius: 16px;
  aspect-ratio: 7/6;
  object-fit: cover;

  @media (min-width: 580px) {
    aspect-ratio: 23/20;
  }

  @media (min-width: 820px) {
    aspect-ratio: 151/125;
  }
}

.description {
  flex-grow: 1;

  @media (min-width: 580px) {
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
  }
}

.title {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;

  @media (min-width: 580px) {
    margin-bottom: 0;
    padding-top: 3px;
    font-size: 16px;
  }
}

.price {
  margin-bottom: 12px;
  font-size: 16px;

  @media (min-width: 580px) {
    margin-bottom: 0;
    font-size: 20px;
  }
}

.favorite {
  position: absolute;
  top: 12px;
  right: 12px;

  svg {
    fill: #ffffff;
  }

  &:hover,
  &_active {
    color: #780096;
    svg {
      fill: #780096;
    }
  }

  &:active {
    color: #c0f;
    svg {
      fill: #c0f;
    }
  }
}

.button {
  padding: 12px 24px;
  width: 100%;
  border: 1px solid #780096;
  border-radius: 32px;
  color: #780096;

  &:hover,
  &:active {
    background-color: #780096;
    color: #ffffff;
  }

  &:focus-visible {
    color: #780096;
    outline-color: #c0f;
  }
}
