.navigation {
  display: flex;
  gap: 16px;
}

.link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;
  outline: none;

  &:hover,
  &:active {
    color: #780096;
  }

  &:focus-visible {
    color: #780096;
    outline-color: #780096;
  }

  @media (min-width: 580px) {
    flex-direction: row;
  }
}

.text {
  position: fixed;
  transform: scale(0);

  @media (min-width: 580px) {
    position: unset;
    transform: scale(1);
  }
}
