.developers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  outline: none;

  &:hover,
  &:active {
    color: #780096;
  }

  &:focus-visible {
    color: #780096;
    outline-color: #780096;
  }
}
